doctype html
html(lang="en")
    head
        title Reset Password
        meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(charset="UTF-8")
        meta(name="description",content="Reset Password") 
        meta(name="theme-color" content="#000000")
        link(rel="manifest" href="/pwa.webmanifest")
        style 
            include /css/forgotPassword.css
        style 
            include /css/navbar.css
        style
            include /css/style.css
        style 
            include /css/forgotPassword.css
        script(src="https://kit.fontawesome.com/9c2fbbf0d7.js")
    body(style="margin:0px")
        include includes/navbar.pug
        div#main
            div#ResetPassword
                div.header
                    div
                        i.fas.fa-lock
                        | &nbsp;Change Password 
                div.errorBox
                div.containInputs
                    label(for="newPassword") New Password:
                    div
                        input#newPassword(type="password", name="newPassword", style="margin:5px 0px")
                        i.far.fa-eye-slash(onclick="togglePasswordVisbilty(this)")
                    label(for="confirmPassword") Confirm Password:
                    div
                        input#confirmPassword(type="password", name="confirmPassword", style="margin:5px 0px")
                        i.far.fa-eye-slash(onclick="togglePasswordVisbilty(this)")
                div.containButtons
                    a.changePasswordButton(onclick="changePassword(this)") Change Password

            
    script
        include /js/index.js
    script 
        include /js/forgotPassword.js
    script. 
        var token = "!{token}"