html
  head
    title !{SeriesName} | Magma Manga
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0") 
    style 
      include /css/thin_navbar.css
    style
      include /css/style.css
    script(src="https://kit.fontawesome.com/9c2fbbf0d7.js")
  body
    include includes/thin_navbar.pug
    include includes/reusableProps.pug
    script
      include /js/index.js