html
    head
    title Placeholder // replace it manga title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    style
        include /css/style.css
    style
        include /css/thin_navbar.css
    script(src="https://kit.fontawesome.com/9c2fbbf0d7.js")
    body(style="margin:0px")
        include includes/thin_navbar.pug
        div#imgs
            - var i = 0;
            while i < imageURlS.length
                - var imageLOL = imageURlS[i]
                image(src="" + imageLOL,class="manga_page")
                - i++

        script
            include /js/index.js
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")